@model IEnumerable<TopicDisplayModel>

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            @foreach (var topic in Model)
            {
                <li class="nav-item">
                    <a asp-area="" asp-controller="Video" asp-action="All" asp-route-courseId="@topic.CourseId" asp-route-topicId="@topic.Id" class="nav-link active" >@topic.Name</a>
                </li>
            }
        </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title">Select a topic on the navigation bar above to see the corresponding videos.</h5>
        <a asp-area="" asp-controller="Course" asp-action="Details" asp-route-id="@Model.FirstOrDefault().Id" class="btn btn-primary">Go back to course details.</a>
    </div>
</div>