@model List<CoursesCategoryModel>

<div class="text-center">
    <h1 class="display-4">Courses</h1>
    <h3>Welcome to our courses. Please select a category below to browse the corresponding courses.</h3>
</div>

@foreach (var category in @Model)
{
    <a asp-area="" asp-controller="Course" asp-action="All" class="display-4 text-dark nav-link">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">@category.Name</h1>
                <p class="lead">@category.Description</p>
            </div>
        </div>
    </a>
}